dash>=2.5.1
dash_bootstrap_components>=1.2.0
plotly>=5.9.0
pandas>=1.4.3
opencv-python>=4.6.0
git+https://github.com/Waseda-TakeuchiLab/tlab-analysis@v0.1.0
git+https://github.com/Waseda-TakeuchiLab/tlab-pptx@v0.0.2

# For test
mypy
coverage
flake8
